<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Usuń komentarz</h1>
<form method="post">
  Data: <strong th:text="${#temporals.format(comment.getCreationDate(), 'dd.MM.yyyy - HH:mm')}" th:value="${comment.creationDate}"></strong>
  Treść: <strong th:text="${comment.description}" th:value="${comment.description}"></strong>

  <input type="submit" th:value="Usuń">
</form>
  
  <a th:href="@{/comments}">Lista komentarzy</a>
  
</body>
</html>

