<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Dodawanie użytkownka')"></head>
<body>
<nav th:replace="fragments/navbar :: myNavbar"></nav>
<div class="container">
   <h1 class="bi-text-center">Dodanie użytkownika</h1>
   <form method="post">
      <div class="input-group mb-3">
         <span class="input-group-text" id="firstName">Imie</span>
         <input type="text" name="firstName" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
         <span class="input-group-text" id="lastName">Nazwisko</span>
         <input type="text" name="lastName" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
         <span class="input-group-text" id="email">Email</span>
         <input type="text" name="email" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
         <span class="input-group-text" id="password">Hasło</span>
         <input type="text" name="password" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
      </div>
      <button type="submit" class="btn btn-primary">Dodaj</button>
   </form>
   <hr>
   <span class="link">
<a th:href="@{/users}">Lista użytkowników</a>
</span>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>
