<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Dodawanie użytkownka')"></head>
<body>
<nav th:replace="fragments/navbar :: myNavbar"></nav>
<div class="container">
   <h1 th:text="#{usersAdd.title}"></h1>
   <form method="post" th:object="${user}">
      <div>
         <label class="form-label" for="firstName">Imie</label>
         <input type="text" id="firstName" name="firstName" class="form-control"
                th:field="*{firstName}" th:classappend="${#fields.hasErrors()?
      (#fields.hasErrors('firstName')? 'is-invalid': 'is-valid'):''}">
         <div class="invalid-feedback" th:errors="*{firstName}"></div>
      </div>
      <div>
         <label class="form-label" for="lastName">Nazwisko</label>
         <input type="text" id="lastName" name="lastName" class="form-control"
                th:field="*{lastName}" th:classappend="${#fields.hasErrors()?
      (#fields.hasErrors('lastName')? 'is-invalid': 'is-valid'):''}">
         <div class="invalid-feedback" th:errors="*{lastName}"></div>
      </div>
      <div>
         <label class="input-group-text" for="email">Email</label>
         <input type="text" id="email" name="email" class="form-control"
                th:field="*{email}" th:classappend="${#fields.hasErrors()?
      (#fields.hasErrors('email')? 'is-invalid': 'is-valid'):''}">
         <div class="invalid-feedback" th:errors="*{email}"></div>
      </div>
      <div>
         <label class="input-group-text" for="password">Hasło</label>
         <input type="text" id="password" name="password" class="form-control"
                th:field="*{password}" th:classappend="${#fields.hasErrors()?
      (#fields.hasErrors('password')? 'is-invalid': 'is-valid'):''}">
         <div class="invalid-feedback" th:errors="*{password}"></div>
      </div>
      <button type="submit" class="btn btn-primary">Dodaj</button>
   </form>
   <hr>
   <span class="link">
<a th:href="@{/users}">Lista użytkowników</a>
</span>
</div>
   <footer th:replace="fragments/footer :: footer"></footer>
   <script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>
