<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Lista użytkowników')"></head>

<body>
<nav th:replace="fragments/navbar :: myNavbar"></nav>

<h1>Lista Użytkowników</h1>


<form method="post">
   <table class="table">
      <thead>
      <tr class="table-secondary">
         <th class="table-secondary" scope="col">#</th>
         <th class="table-secondary">Imie</th>
         <th class="table-secondary">Nazwisko</th>
         <th class="table-secondary">Email</th>

      </tr>
      </thead>
      <tbody>
      <tr th:each="user: ${users}">
         <th th:text="${user.getId()}"></th>
         <td th:text="${user.getFirstName()}"></td>
         <td th:text="${user.getLastName()}"></td>
         <td th:text="${user.getEmail()}"></td>
         <td class="table-success"><a th:href="@{'/users/editUser/{id}'(id=${user.id})}">Edytuj</a></td>
         <td class="table-danger"><a th:href="@{'/users/deleteUser/{id}'(id=${user.id})}"> Usuń</a></td>
      </tr>
      </tbody>
   </table>
</form>
<hr>
<span class="link">
<a th:href="@{/users/addUser}">Dodaj użytkownika</a>
</span>
<footer th:replace="fragments/footer :: footer"></footer>
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>