<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Dodaj komentarz</h1>
<form method="post">
    <div>
        <label for="creationDate">Tytuł</label>
        <input type="text" id="creationDate" name="creationDate">
    </div>
    <div>
        <label for="description">Treść</label>
        <input type="text" id="description" name="description">
    </div>
    <input type="submit" value="zapisz">
</form>
localhost
<a th:href="@{/comments/list}">Lista komentarzy</a>

</body>
</html>