<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Usera</title>
</head>
<body>
<form method="post">
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
    </div>
    <div>
        <label for="firstName">Nazwa użytkownika</label>
        <input type="text" id="firstName" name="firstName">
    </div>
    <div>
        <label for="lastName">Nazwa użytkownika</label>
        <input type="text" id="lastName" name="lastName">
    </div>
    <div>
        <label for="password">Hasło</label>
        <input type="text" id="password" name="password">
    </div>
    <input type="submit" value="Zapisz">
</form>
<a th:href="@{/user/users}">Users</a>
</body>
</html>