<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuwanie komentarzy</title>
</head>
<body>

<h1>Czy na pewno chcesz usunąć dany komentarz?</h1>

<form method="post">
<div>
    Data dodania komentarza: <p th:text="${#temporals.format(comment.creationDate, 'dd.MM.yyyy - HH:mm')}"></p> <!--FIXME trzeba sprawdzić, czy działa, jak powstaną widoki Comment-->
    Treść komentarza: <p th:text="${comment.description}"></p>
</div>
    <input type="submit" value="Usuń">
</form>

<a th:href="@{/comments}">Lista komentarzy</a>


</body>
</html>
