<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edytuj wydarzenie</title>
</head>
<body>

<h1>Edytuj wydarzenie:</h1>

<form method="post" th:action="@{/events/editEvent/{id}(id=${event.id})}">

    <div>
        <label for="name">Nazwa wydarzenia:</label>
        <input id="name" type="text" name="name" th:value="${event.name}">
    </div>

    <div>
        <label for="startDateTime">Data rozpoczęcia:</label>
        <input id="startDateTime" type="datetime-local" name="startDateTime" th:value="${event.startDateTime}">
    </div>

    <div>
        <label for="endDateTime">Data zakończenia:</label>
        <input id="endDateTime" type="datetime-local" name="endDateTime" th:value="${event.endDateTime}">
    </div>

    <div>
        <label for="location">Lokalizacja:</label>
        <input id="location" type="text" name="location" th:value="${event.location}">
    </div>

    <div>
        <label for="description">Opis wydarzenia:</label>
        <textarea id="description" rows="5" name="description" th:field="${event.description}"></textarea>
    </div>

    <input type="submit" value="Edytuj wydarzenie">
</form>

<form method="post" th:action="@{/events/deleteEvent/{id}(id=${event.id})}">
    <input type="submit" value="Usuń wydarzenie">
    <strong>TEJ OPERACJI NIE MOŻNA COFNĄĆ!</strong>
</form>

<a th:href="@{/events}">Lista wydarzeń</a>
<a th:href="@{/events/addEvent}">Dodaj wydarzenie</a>

</body>
</html>
