<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title)"></head>
<body>
<!-- Navbar Section -->
<nav th:replace="fragments/navbar :: myNavbar" ></nav>

<h1>Coś tu będzie</h1>
<div>
    Prawdopodobnie trzeba będzie usunąć widoki:
        deleteUser, deleteComment, deleteEvent
    a także:
        allComments i allUsers,
    bo raczej nigdzie nie będzie nam potrzebne wyświetlenie wszystkich użytkowników,
    ani wszystkich komentarzy
</div>>

<!-- Footer Section -->
<footer th:replace="fragments/footer :: footer"></footer>

<!-- JavaScript Bundle with Popper Sectrion -->
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>
