<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Register')"></head>
<body>
<nav th:replace="fragments/navbar :: myNavbar" ></nav>
<div class="container-fluid col p-5 my-5 border">
<form method="post" th:action="@{/register}">
    <div class="mb3">
        <label for="email" class="form-label" >Email (nazwa użytkownika)</label>
        <input class="form-control" type="email" name="email" id="email">
    </div>
    <div class="mb3">
        <label for="firstName" class="form-label" >Imię</label>
        <input class="form-control" type="text" name="firstName" id="firstName">
    </div>
    <div class="mb3">
        <label for="lastName" class="form-label" >Nazwisko</label>
        <input class="form-control" type="text" name="lastName" id="lastName">
    </div>
    <div class="mb3">
        <label for="password" class="form-label" >Hasło</label>
        <input class="form-control" type="password" name="password" id="password">
    </div>
    <input class="btn btn-dark" type="submit" value="Zarejestruj">
</form>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>