<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Użytkowników</title>
</head>
<body>
<h1>Lista Użytkowników</h1>
<form method="post">
    <table>
    <tr>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Email</th>
        <th>Password</th>
    </tr>

        <tr th:each="user: ${users}">
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getPassword()}"></td>
           <td><a th:href="@{'/users/editUser/{id}'(id=${user.id})}">Edytuj</a></td>
        </tr>
    </table>
</form>
<hr>
<a th:href="@{/users/addUser}">Dodaj urzytkownika</a>
</body>
</html>