<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Home')"></head>
<body>
<nav th:replace="fragments/navbar :: myNavbar"></nav>

<br>
    <h1 class="display-4">Dodaj komentarz</h1>
<br>


<div class="container-fluid">
<form class="form-floating" method="post">
        <label for="description">Treść</label>
        <textarea class="form-control" type="text" id="description" name="description" rows="3" placeholder="Napisz coś!!"> </textarea>
    <input class="btn btn-secondary" type="submit" th:value="zapisz">
</form>
</div>

<a th:href="@{/comments}">Lista komentarzy</a>
<footer th:replace="fragments/footer :: footer"></footer>
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>
