<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Napisz komentarz')"></head>
<body>
<nav th:replace="fragments/navbar :: myNavbar"></nav>

<h1 class="mt-5 display-4 text-center ">Dodaj komentarz</h1>


<div class="mt-5 container-fluid ">
<form class="form-floating" method="post">
        <label for="description">Treść</label>
        <textarea class="form-control" type="text" id="description" name="description" rows="3" placeholder="Napisz coś!!"> </textarea>
    <input class="mt-2 btn btn-secondary" type="submit" th:value="zapisz">
</form>
    <a type="button" class="mt-2 btn btn-secondary" th:href="@{/comments}">Lista komentarzy</a>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>
