<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Home')"></head>

<body>

<nav th:replace="fragments/navbar :: myNavbar" ></nav>

<h1 class="mt-5 text-center display-4 ">Lista komenatrzy</h1>

<form class="form-floating" method="post">
        <div th:each="comment: ${comments}" class="container-fluid col p-5 my-5 border">

            <label for="date"><strong>Data: </strong></label>
            <div id="date" class="p-2 bg-light border" th:text="${#temporals.format(comment.getCreationDate(), 'dd.MM.yyyy - HH:mm')}"></div>

            <label for="description"><strong>Opis: </strong></label>
            <div id="description" class="p-2 bg-light border" th:text="${comment.getDescription()}"></div>

            <a type="button" class="mt-2 btn btn-secondary" th:href="@{'/comments/editComment/{id}'(id=${comment.id})}">Edytuj</a>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Launch demo modal
            </button>

            <!--TODO edit comment view in modal -->
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <form method="post" th:action="@{/comments/editComment/{id}(id=${comment.id})}">
                                <div >
                                    <label for="descriptions" >Treść</label>
                                    <input type="text"  th:value="${comment.description}" name="description" id="descriptions"/>
                                </div>
                                <input type="submit" value="Dodaj">
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <a type="button" class="mt-2 btn btn-secondary" th:href="@{'/comments/deleteComment/{id}'(id=${comment.id})}"> Usuń</a>
        </div>
</form>

<div class="container-fluid">
    <a type="button" class="mt-2 btn btn-secondary" th:href="@{/comments/addComment}">dodaj komenatrz</a>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>