<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Edycja komentarzy')"></head>
<body>
<nav th:replace="fragments/navbar :: myNavbar"></nav>
<div class="container">
   <form method="post" th:action="@{/comments/editComment/{id}(id=${comment.id})}">>
      <div class="input-group mb-3">
         <span class="input-group-text" id="inputGroup-sizing-default">Treść</span>
         <input type="text" id="description" th:value="${comment.description}" name="description" class="form-control"
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <button type="submit" class="btn btn-primary">Zapisz</button>
   </form>
   <hr>
   <span class="link">
<a th:href="@{/comments}">Lista komentarzy</a>
</span>
   <hr>
   <span class="link">
<a th:href="@{/comments/addComment}">Dodaj komentarz</a>
</span>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>
