<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/comments/editComment/{id}(id=${comment.id})}">>

    <div >
        <label for="description" >Treść</label>
        <input type="text"  th:value="${comment.description}" name="description" id="description"/>
    </div>

    <input type="submit" value="Dodaj">
</form>

<a th:href="@{/comments}">Lista komentarzy</a>
<a th:href="@{/comments/addComment}">Dodaj komentarz</a>

</body>
</html>
